In [1]:
import numpy as np
import pandas as pd

In [2]:
congFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/consolidated_end115.csv'
firmFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/comp_firms.csv'

In [3]:
congDF = pd.read_csv(congFile)
congDF = congDF.drop(['Unnamed: 0'], axis=1)
congDF.head()

,cid,personName,year,orgid,orgname,industry,asset_type,min,max,hidemax,type,lobbies,contributes,folderOfOrigin
0,N00007665,Abercrombie-Neil,2004,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,15001,50000,0,Y,NaN,NaN,cong105
1,N00007665,Abercrombie-Neil,2005,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
2,N00007665,Abercrombie-Neil,2006,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
3,N00007665,Abercrombie-Neil,2007,NaN,University of Hawaii Credit Union,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
4,N00007665,Abercrombie-Neil,2008,NaN,University of Hawaii Credit Union,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105

In [4]:
firmDF = pd.read_csv(firmFile)
firmDF.head()

   gvkey                     conm                    conml state
0   1000    A & E PLASTIK PAK INC    A & E Plastik Pak Inc   NaN
1   1001  A & M FOOD SERVICES INC  A & M Food Services Inc    OK
2   1002                 AAI CORP                 AAI Corp    MD
3   1003    A.A. IMPORTING CO INC    A.A. Importing Co Inc    MO
4   1004                 AAR CORP                 AAR Corp    IL

In [6]:
print(len(firmDF['gvkey'].unique()))
print(len(firmDF['conm'].unique()))
print(firmDF['conm'].describe())
print(len(firmDF))
firmDF.describe()

32813
32810
count           32813
unique          32810
top       LUMENIS LTD
freq                2
Name: conm, dtype: object
32813

               gvkey
count   32813.000000
mean    58914.747783
std     66792.343541
min      1000.000000
25%      9787.000000
50%     23959.000000
75%    115960.000000
max    319507.000000

In [7]:
firmDF[firmDF['conm']=='LUMENIS LTD']

       gvkey         conm        conml state
14777  19845  LUMENIS LTD  Lumenis Ltd   NaN
21697  62471  LUMENIS LTD  Lumenis Ltd   NaN

In [8]:
print(congDF['cid'].unique())
print(len(congDF['cid'].unique()))
print(len(congDF['folderOfOrigin'].unique()))

['N00007665' 'N00001143' 'N00003028' ... 'N00035616' 'N00030418'
 'N00035535']
1008
11

In [9]:
print(congDF['personName'].describe())

count         243885
unique          1008
top       Kerry-John
freq            4873
Name: personName, dtype: object

In [10]:
congDF.describe()

                year           min           max        hidemax
count  243885.000000  2.438850e+05  2.438850e+05  243885.000000
mean     2009.695611  1.305715e+05  3.473555e+05       0.010562
std         3.363060  1.981086e+06  2.820360e+06       0.102229
min      2004.000000 -3.547540e+05 -3.547540e+05       0.000000
25%      2007.000000  1.001000e+03  1.500000e+04       0.000000
50%      2010.000000  1.500100e+04  3.622500e+04       0.000000
75%      2013.000000  5.000100e+04  1.000000e+05       0.000000
max      2015.000000  3.120000e+08  3.120000e+08       1.000000

### Testing string matches

#### OBSERVATIONS:
- Do the process.extract() & then run a fuzzy match

In [68]:
congOrgs = congDF['orgname'].unique()
firmOrgs = firmDF['conm'].unique()
firmOrgsLC = firmDF['conml'].unique()

In [12]:
print('unique cong orgs:', len(congOrgs))
print('unique firm orgs:', len(firmOrgs))
print('unique firm orgs lower case:', len(firmOrgsLC))

unique cong orgs: 69982
unique firm orgs: 32810
unique firm orgs lower case: 32682

In [13]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from fuzzywuzzy import utils
from fuzzywuzzy.string_processing import StringProcessor

In [21]:
searchSTR = congOrgs[555]
print(searchSTR)
print('\n')
print(process.extract(searchSTR, firmOrgs, limit=10))
print('\n')
print(process.extract(searchSTR, firmOrgsLC, limit=10))

Rental Property


[('PRAETORIAN PROPERTY INC', 86), ('INTL INCOME PROPERTY INC', 86), ('NATIONAL CAR RENTAL SYS-OLD', 86), ('PROPERTY CAPITAL TRUST INC', 86), ('PROPERTY INVESTORS COLORADO', 86), ('745 PROPERTY INVESTMENTS', 86), ('BEDFORD PROPERTY INVESTORS', 86), ('AMERICAN PROPERTY GROUP INC', 86), ('NATIONAL CAR RENTAL SYSTEMS', 86), ('SIZELER PROPERTY INVESTORS', 86)]


[('Praetorian Property Inc', 86), ('General Growth Property', 86), ('International Income Property Inc', 86), ('Landsing Instit Property Trust V', 86), ('National Car Rental Systems-Old', 86), ('Property Capital Trust Inc', 86), ('Property Investors Colorado', 86), ('745 Property Investments', 86), ('South West Property Trust Inc', 86), ('Bedford Property Investors Inc.', 86)]

In [15]:
orgMatch, per = process.extractOne(searchSTR, firmOrgs)
orgMatchLC, per = process.extractOne(searchSTR, firmOrgsLC)
print(searchSTR, orgMatch ,fuzz.ratio(searchSTR, orgMatch))
print(searchSTR, orgMatchLC ,fuzz.ratio(searchSTR, orgMatchLC))

Northwest Natural Gas NORTHWEST NATURAL GAS CO 22
Northwest Natural Gas Northwest Natural Gas Co 93

In [16]:
firmDF[firmDF['conm']=='ABVIVA INC']

        gvkey        conm       conml state
24594  115747  ABVIVA INC  Abviva Inc    CA

In [17]:
fuzz.partial_ratio('Citibank Cash Reserves Account 27', 'CityBank')

75

In [18]:
def levenshteinDistance(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1

    distances = range(len(s1) + 1)
    for i2, c2 in enumerate(s2):
        distances_ = [i2+1]
        for i1, c1 in enumerate(s1):
            if c1 == c2:
                distances_.append(distances[i1])
            else:
                distances_.append(1 + min((distances[i1], distances[i1 + 1], distances_[-1])))
        distances = distances_
    return distances[-1]

def levRatio(s1, s2):
    l = levenshteinDistance(s1, s2)
    m = max(len(s1), len(s2))
    return (1 - (float(l)/float(m))) * 100

In [19]:
print(levRatio(searchSTR, orgMatch))

print(levRatio(searchSTR, orgMatchLC))

20.833333333333336
87.5

In [20]:
print(fuzz.ratio(searchSTR, orgMatch))
print(fuzz.ratio(searchSTR, orgMatchLC))

22
93

### Fuzzy Wuzzy explanations
- fuzz.ratio() -> edit distance simply (levenshtein)
- fuzz.partial_ratio() -> checks for search str to be substr 
- fuzz.token_sort_ratio() -> alphabetically sort both string tokens and then match ratio
- fuzz.token_set_ratio() -> make set(intersect) from both strings and create combinations with both & match ratio

In [43]:
import re

In [44]:
# congOrgs = sorted(congOrgs)

In [83]:
print(congOrgs)

['University of Hawaii Credit Union A/C'
 'University of Hawaii Credit Union' 'Xenonics' ...
 "Hawaii's College Savings Program" 'First Hawaiian Bank SEP'
 'Hawaii State FCU']

In [109]:
results = [re.search("^[0-9]", l, flags=re.IGNORECASE) for l in congOrgs]

print(len(results))
# for i in range(len(congOrgs)): 
#     print(re.search('^a', congOrgs[i], flags=re.IGNORECASE))

69982

In [110]:
# print(results)

In [111]:
# results = list(filter(None.__ne__, results))
res = [i for i in range(len(results)) if not results[i] is None]
print([congOrgs[res[i]] for i in range(len(res))])

['6207 30th Street/North Arlington, VA', '65 Acres Land - Greenbrier Farms/McDonal', '60 Acres Land - Hoggleridge', '6207 30th St/North Arlington, VA', '65 Acres Land Greenbrier Farms/McDonal', '65 Acres Land Greenbrier Farms/McDonald', '60 Acres Land/Hoggleridge', '6207 30th Street North', '65 Acres Land - Greenbrier Farms/McDonald Farms Pa', '65 Acres Land - Greenbrier Farms/McDonald Farms', '245 Commercial Street/Portland, ME', '2351 Rocky Ridge Road/Birmingham, AL', '4821 12th Avenue/North Birmingham, AL', '3939 29th Place/North Birmingham, AL', '2025 16th Avenue/North Birmingham, AL', '3M Co', '80 acres & home/Onaway, MI', '153 Acres & 2 houses/Pocahontas Cnty, WY', '4317 Buckeystown Pike/Frederick, MD', '4219 Lime Kiln Rd/Frederick, MD', '256 Knoxville Rd/Knoxville, MD', '2 Spruce Knob Lake Forrest Service Rd Po', '3518 Mountain Rd/S Knoxville, MD', '122 Silopanna/Annapolis, MD', '3517 Mountain Rd/S Knoxville, MD', '112 Spruce Knob Lake Forest Service Rd', '2 lots/228 Knoxville Rd', '1115 Providence Court/Frederick, MD', '2 lots/228 Knoxville Rd/Kn', '3518 Mountain Rd S/Knoxville, MD', '3517 Mountain Rd S/Knoxville, MD', '112 Spruce Knob Lake Service Rd/Pocahon', '2 lots', '1115 Providence Ct/Frederick, MD', '1765 R Street NW/Washington, DC', '1629 21st Street NW/Washington, DC', '529 C Fund Capital Income Builder', '529 Capital World Bond Fund', '1005 Mooney Drive/Monterey Park, CA', '529 Investment', '101 North Carolina Pl SE/Washington, DC', '1633 Hill Drive/Los Angeles, CA', '101 North Carolina Place SE Apt H/Wash', '101 North Carolina Place SE Apt H/Washington', '529 College Savings Plan', '101 North Carolina Place, SE/Washington, DC', '529 Small Cap World Fund', '1005 Mooney Drive Monterey Park, CA', '101 North Carolina Place SE Apt H Washington', '3627 W 104th St LLC', '3627 West 104th St LLC', '3627 W 104th Street LLC', '140 Main Street/Gillett, AR', '408 E 3rd St SE/Washington DC', '408 E 3rd SE/Washington, DC', '408 E 3rd Street SE/Washington, DC', '6 Whole-Life Insurance policies', '760 Caesar Road/Picayune, MS', '720 Cesar Rd/Picayune, MS', '19 Raleigh St/Helena, MT', '720 Caesar Rd/Picayune, MS', '720 Caesar Road/Picayune, MS', '266 Daisy Aven/Imperial Beach, Ca', '2466 Unicornio St/Carlsbad, Ca', '230 Ebony Ave/Imperial Beach, Ca', '192-194 Ebony Ave/Imperial Beach, Ca', '257 Ebony Ave/Imperial Beach, Ca', '449 8th Street/Imperial Beach, Ca', '3473 Cactus Valley Lane/Laughlin, Nv', '829-831 10th St/Imperial Beach, Ca', '266 Daisy Ave/Imperial Beach, CA', '230 Ebony Ave/Imperial Beach, CA', '192 & 194 Ebony Ave/Imperial Beach CA', '829-831 10th Ave/Imperial Beach, CA', '257 Ebony Ave/Imperial Beach, CA', '499 8th St/Imperial Beach, CA', '3473 Cactus Valley Lane/Laughlin, NV', '129 & 194 Ebony Ave/Imperial Beach', '289-831 10th St/Imperial Beach, CA', '3Com Corp/Palm', '7-Eleven', '42nd & 10th', '301 Howard Street', '230 Park Ave', '100 K Street', '1-3 Years to College Portfolio', '116 & Melbourne Branson', '11 Acres/Strafford, MO', '11 Undeveloped Acres in Strafford, MO', '401-K Mondelez Int Inc', '11 Undeveloped Acres/Strafford, MO', '7908 Cincinnati-Dayton Road/Ohio', '305 C Street/Washington, DC', '3% Interest In LP', '4 Your Soul Inc', '162 acres farm land/Linn County, KS', '450 New Jersey Ave SE/Washington, DC', '23.7 acres/Johnson County, IN', '2177-2181 Galaxy/Laurel County, KY', '2176-2180 Galaxy/Laurel County, KY', '11.84 Acres/Johnson County, IN', '23 acres farmland/Johnson County, IN', '45 acres undeveloped land/Flat Creek, KY', '624 East Grand Boulevard/Corona, CA', '501 & 503 E 6th Street/Corona, CA', '1154 E 6th Street/Corona, CA', '408/410 S Main Street/Corona, CA', '408 & 410 S Main St/Corona, CA', '624 E Grand Commercial Rental', '103 N Lincoln Commercial Rental', '901 E 3rd St Commercial Rental', '63 W Grand Commercial Rental', '501 & 503 E 6th Commercial Rental', '330 Sherman Way Commercial Rental', '103 N Lincoln', '501 & 503 E 6th', '22622 S Gilbert Road', '122 E 6th Street', '245 Goddard Ave/Ignacio, CO', '556 2nd Avenue/Durango, CO', '541 CR 541/Ignacio, CO', '520 2nd Street/Durango, CO', '506-510 2nd Ave/Durango, CO', '4566 Parkside Drive/Kiawah Island, SC', '14 George Street/Dewey Beach, DE', '224A Justice Court/Washington, DC', '3-Bed Condo/Questa Verde, VI', '197 Acres 40ED/La Grange, VI', '645-47 W Liberty Street/Sumter, SC', '645-47 West Liberty Street/Sumter, SC', '645-47 West Liberty St/Sumter, SC', '645-47 W Liberty St/Sumter, SC', '645-47 W Liberty St', '78 acre farm/Henry County, VA', '78 acre farm', '316 G Street, SE home', '21st Century Insurance Group', '13/4/3 Parcel 200', '50% 3/5 interest in 21.06 Acres', '2/5 Interest in 21.06 Acres', '50% 3/5 interest in 21.06 Acres Description: 13/4/', '21.06 Acres', '2/5 Interest in 21.06 Acre', '3D Systems Corp', '21st Century Fox', '524 Skyline Shores/Scottsboro, AL', '3209 Cove Lake Road/Hampton Cove, AL', '527 East Beach Blvd/Gulf Shore, AL', '527 East Beach Blvd/Gulf Shores, AL', '359 Acre Ranchland/Framont, ID', '2014 Madison Avenue/Baltimore, MD', '5809 Leithwalk/Baltimore, MD', '1830 11th St NW Ste 1/Washington, DC', '2225 St Paul Street/Baltimore, MD', '2221 St Paul St/Baltimore, MD', '2014 Madison Ave/Baltimore, MD', '2014 Madison Ave/Baltimore MD', '1830 11th St NW #1/Washington, DC', '1830-11th St NW/Washington, DC', '132 Randolph Place NW/Washington, DC', '132 Randolph Place, NW', '2221 Street Paul Street/Baltimore, MD', '2014 Madison Ave, Baltimore, MD 21217', '33 acres on Riverbend Road/Demorest, GA', '314 11th Street NE/Washington, DC', '15 Acres Log Cabin Road/Habersham County', '1 Acre Lot/Habersham County, GA', '5 acres on Log Cabin Road/Demorest, GA', '3 acres Flint Ridge Road/Gainesville, GA', '15 acres on Log Cabin Road/Demorest, GA', '28 Acres Inherited from Mother Estate', '5 Acres', '1.3 Acres/Gainesville', '53880 Pine Grove Lapine', '36 Hempleman Dr/Akaroa, NZ', '53880 Pine Grove/Lapine OR', '53880 Pine Grove/Lapine Or', '1/2 ownership', '53880 Pine Grove Rd/Lapine, OR', '1/2 Oregon', '3Com Corp', '6734 Spicewood Springs/Travis County, TX', '3800 Kennelwood/Austin, TX', '1200 Baylor 401/Austin, TX', "8 acres Lohman's Ford/Travis County, TX", '220 North Mesa/El Paso, Texas', '711 N Piedras/El Paso, TX', '21.12 Acres/Northern Dona Ana City, NM', '1157 San Bernard St/Austin, TX', "8.16 acres/Lohman's Ford Crossing Rd, TX", '1200 Baylor/Austin, TX', '1157 San Bernard St/Austin TX', '6734 Spicewood Springs', '3800 Kennelwood', '1200 Baylor #401', '1157 San Bernard St', '1916 Monongahela Avenue/Pittsburgh, PA', '1916 Monongahela Avenue', '52 Mayfair/Riverside County, CA', '2001 Ford Truck', '2001 Chrysler', '1995 Saturn', '1996 Ford Truck', '2010 Ford Fusion', '1996 Ford Ranger', '2012 Ford Fusion', '1996 Ranger Truck', '7720 Building Corp', '1108 Mamers-Summerville Rd/Lillington NC', '1108 Summerville-Mamers Road/Lillington, NC', '406 S Capitol Street SE/Washington, DC', '2 Notes receivable on personal residence', '400 Acre Farm/Houston County, AL', '400 Acre Farm', '913 Adobe Flat Drive/Henderson, NV', '511 Chandler Street/Henderson, NV', '1148 South 1470 East/Provo, UT', '929 Alta Oaks Drive/Henderson, NV', '929 Alta Oaks Drive/Henderson NV', '20 Residential rental property', '42 MFS Utilities Svc', '529 CSP Aggressive Growth', '529 College Savings Program Market', '529 College Savings Program Advisor', '1401 17th Street NW/Washington, DC', '17.9 acres unimp land/Frelinghuysen, NJ', '17 acres of Unimproved land', '235.8 Acres of Unimproved Land', '17.923 Acres unimproved land', '17.923 Acres Unimproved Land/Frelinghuysen Twp', '235.8 Acres Of Unimproved land', '17.923 Acres unimproved land Frelinghuysen Twp, NJ', '1/5 interest in Rattlesnake Mountain', '15th undivided interest in 235.8 acres', '70 Acres Clear Cut Pines/Latta, SC', '2535 Wedglea/Dallas, TX', '100 Acres of Clear Cut Pines/Latta, SC', '1791 Erringer Road/Simi Valley, CA', '1491 Duarte Circle/Simi Valley, CA', '1351 Cherry/Simi Valley, CA', '12 Via Santanella/Rancho Mirage, CA', '1791 Erringer Rd/Simi Valley, CA', '1791 Erringer Road/Simi Valley CA', '200 acres & house/Rt 2/Rocky Mt, VA', '2 acres with old office Rt 2/Rocky Mount', '50 acres Rt 3/Ferrum, VA', '7.78 A in BRD/Franklin County, VA', '3 lots Koehler Rt 1/Fieldale, VA', '28 acres Rt 1/Henry, VA', '2 Acres at H', '2 Acres with office/Rocky Mount, VA', '2 acres/Henry, VA', '2 Acres with office Hwy 220/Rocky Mount', '2 Acres with office', '2 Acres', '4702,4704,4706, & 4708 Washburn & 16', '4702 Washburn/Fort Worth, Texas', '1616 Kenley/Fort Worth, Texas', '4702 Washburn/Ft Worth, TX', '4708 Washburn/Fort Worth, TX', '4706 Washburn/Fort Worth, TX', '4704 Washburn/Fort Worth, TX', '4702 Washburn/Fort Worth, TX', '1616 Kenley/Forth Worth, TX', '20-year Contract Sale of 2 acre Farm', '1st National Bank of the South/CD', '20-year Contract-Sale/2 Acre Farmstead', '20 year Contract-Sale of 2 Acre Farmstea', '222 International Drive LP', '185 Beacon Street LLC', '175 Purchase Street LLC', '222 International LLC', '180 International LLC', '395 Marlborough LLC', '2025 W St Paul/Chicago, IL', '2146 W Churchill/Chicago, IL', '1003 W Fulton/Chicago, IL', '615 Vistamar Street/Rio Grande, PR', '535 Marina Street/Rio Grande, PR', '535 Marina St/Rio Grande, Puerto Rico', '615 Vistamar St/Rio Grande, Puerto Rico', '310 E Capital Street NW/Washington, DC', '4 Acres, 1500 Sunset Hill/Rockwall, TX', '50% Interest 4 Acres/Rockwall, TX', '50% Interest 152 Acres/Hunt County, TX', '4 Acres', '50% Interest 4 Acres', '50% Interest 152 Acre Farm', '50% Interest 4 Acres 1500 Sunset Hill, TX', '50% Interest 152 Acre Heart County, TX - Farm', '1st Century Bancshares', '69 Acres/Plano, IL', '125.96 Acres/Kendall County, IL', '20 Acres Undev Land/Utah County, UT', '20 acres of undeveloped', '20 acres of Undeveloped land', '4th Avenue/Rio Oso, CA', '342 S Texas Ave/Mercedes, TX', '1404 S Illinois Street, Rent Residence', '1-Four Partnership', '76-78 East Market Street/Corning, NY', '50 Acres W/2 Houses/Warren City, VA', '1/4 Acre Lot/Bear Lake, VT', '35 Acres W/3 Houses', '18 Acres with cabin/Virginia', '1/4 Acre Lot/Utah', '1 Acre with Cabin/Hunter Division, VA', '500 Index Fund', '500 Index', '2nd Mortgage on 6113 Inland', '6113 Inland/Warr Acres, OK', '304 NE 23nd/Norman, OK', '4018 Charleston (lot) Houston, TX 77021', '1414 Wheeler/Houston, TX', '1914 Wheeler Houston, TX', '8 Kingsley Avenue/Rutland, VT', '2 Lots in Poinciana/Kissimee, FL', '1st Tennesse Bank IRA', '1st Tennesse Bank/Savings', '1st Tennesse Bank/Checking', '1st Tennessee National Corp', '6 Acres Land On Clinch River', '1224 Hwy 90/Crowley, LA', '819 Northern/Crowley, LA', '1220 Hwy 90/Crowley, LA', '1108 11th Street/Crowley, LA', '90+acres/Wright Township, PA', '20+acres/Dallas Township, PA', '126 S Franklin Street/Wilkes-Barre, PA', '1854 Harlan Road/Toledo, OH', '1846 Rivard Road/Toledo, OH', '1837 Dority Road/Toledo, OH', '1848 Rivard Rd/Toledo, OH', '5151 Fleet Rd/Toledo, OH', '1854 Harlan Rd/Toledo, OH', '90 Maple Ave/Mt Kisco', '87 Bedford Rd/Katonah', '8 Waterview Court/South Salem', '101 N Morgan/Mt Kisco', '36 Anderson Road/Katonah', '105 Bedford Road/Katonah', '10 Winterview Court/South Salem', '1936 Trusts FBO Edward M Kennedy', '1926 Trusts FBO Kathleen K Hartington', '1926 Trusts FBO Joseph P Kennedy Jr', '1926 Trusts FBO Edward M Kennedy', '1926 Trusts FBO Rose M Kennedy', '1936 Trust FBO Edward M Kennedy', '1936 Trust Joseph P Kennedy', '1925 Squaw Run Road/Pittsburgh, PA', '3-D Systems Corp', '5 Buckhotz Road/Ettrick, WI', '213 Pearl Street/LaCrosse, WI', '219 Pearl Street/LaCrosse, WI', '219 Pearl Street/La Crosse, WI', '219 Pearl St/La Crosse, WI', '5 Island Drive/Savannah, GA', '111 Jacquelyn Drive/Savannah, GA', '105 18th Street/Tybee Island, GA', '5 Island Dr/Savannah GA', '35 Bluff Drive LLC', '18th St/Tybee, GA/Rental Property', '35 Bluff Drive LLC/Extended Family Residence', '3765 Sierra Dr/Merritt Island, FL', '300 Acres of Land/Sanolta, AZ', '113 Inherited Interest of Apartment in U', '1038 Park Meadow Drive/Beaumont, TX', '7090 Prutzman 25/Beaumont, TX', '7090 Prutzman 24/Beaumont, TX', '7090 Prutzman/Beaumont, TX', '500 Independence LLC', '1 acre of undeveloped land/Monroe, LA', '1.048 Acres Undeveloped Land', '4596 Perry Street/Denver, CO', '35 River Walk Way/Lowell, MA', '401k Pension Plan American Funds', '401K /Pension Plan American Funds', '444 Realty Co', '40 Worth Assoc', '360 Park South Assoc', '132 W 125 Co', '600 Broadway Assoc', '132 W 125 Co/Us Treasury Notes', '444 Realty Co/Hsbc Cash In Bank', '132 West 125 Co/Cash Hsbc Bank', '525 Properties Llc', '444 Realty Co/Commercial RE NY, NY', '360 Park South LLC', '360 Park South Assoc/US Treasury Bond', '444 Realty Co/US Treasury Bonds', '444 Realty Co/HSBC Cash', '360 Park South Assoc/HSBC Cash', '2S Crossover LP', '2S Co', '132 W 125 Co/US Treasury Bonds', '132 West 125 St/NY, NY', '132 W 125 St LLC/Cash', '910 Park Avenue Residential Real Estate', '40 Worth St Assoc', '360 Park Ave South/NY', '584 Broadway/New York, NY', '299 Broadway/NY', '525 Seventh Ave/New York, NY', '360 Park Ave S Assoc', '132 W 125 St LLC', '132 W 125 St LLC/US Treasury Bills', '7510 Assoc', '360 Park Ave S Assoc/US Treasury Bills', '299 Broadway Assoc', '132 West 125 St Office Bldg/New York, NY', '525 Seventh Ave Assoc', '132 West 125 St Office Building/NY, NY', '132 W 125 St LLC/Cash in Bank HSBC', '712 West Assoc LLC', '682 Inwood Assoc LLC', '360 Park Ave Invest Ptsp', '7510 LLC /Cash in Bank HSBC', '444 Real Estate Co', '360 Park Ave S Assoc/Cash in Bank HSBC', '584 Broadway Assoc Office Building', '299 Broadway Assoc Office Building', '525 Seventh Ave Assoc Office Building', '1250 4th Street SW/Washington, DC', '79 acres/Livingston County, MI', '18 acres/Livingston County, MI', '18 acres/Livingston County', '79 acres', '10 acres', '10 acres, Livingston County, MI/Livin', '78 acres/Tyrone Township, MI', '18 acres/Tyrone County, MI', '78 Acres/Michigan', '18 Acres/Michigan', '18 acres/Tyrone Township, MI', '18 Acres/Tyrone Township, MI', '78 acres', '18 acres', '78 acres/Tyrone Townshi', "1/3 of mother's estate", '250 West 57th Street Assoc', '250 West 57th St Assoc', '161 Acres Unimproved Land/Carrol County', '57 West 70th Development LLC', '649 C Street SE/Apt 209', '649 C Street SE Apt 209', '480 acr-Farmland-House-Cattle/Cheyenne', '103 acres Mineral Rights/Roger Mills, OK', '480 acres Farmland, House, Equip, Cattle', '320 acres - Farmland/Roger Mills Co OK', '320 acres of Farmland/Roger Mills Co', '480 acres Farmland/Roger Mills, Co', '63-34 acres  Mineral Rights/Roger Mill', '320 acres - Farmland/Cheyenne/Roger Mills, OK', '480 acres - Farmland/Cheyenne/Roger Mills, OK', '63 acres Mineral Rights/Roger Mills, OK', '480 acres - Farmland', '96 acres/Southampton County, VA', '96 acres', '25% Interest Inherited from the Settlement of the', '96 Acres, Route 64', '400 Wash Street/Oragon, IL', '701/801 LLC', '500 Index Fund Inv', '1225 Massachusetts Ave SE/Washington, DC', '1st Federal Savings (deferred income)', '430 M Street/Washington, DC', '1806 West Street/Union City, NJ', '2195 Via Tuscany/Winter Park, FL', '15 3rd Street NE/Washington, DC', '305 E Capitol Street SE/Washington, DC', '1305 S Atlantic Ave/Cocoa Beach, FL', '305 E Capitol St SE/Washington, DC', '2195 Via Tuscany/Winter Park FL', '305 E Capitol St SE/Rental Unit', '1305 S Atlantic Ave Unit 130', '305 E Capitol Street SE/Rental Unit', '803 North Grandee Rental/Compton, CA', '1236 W 64th Street/Los Angeles, CA', '850-856 W 129th Street/Gardena, CA', '225B C Street/Washingtohn, DC', '2nd Baptist Credit Union/Accounts', '1101 Marshall Place/Long Beach, CA', '127 D Street SE/Washington, DC', '127 D St, SE/Washington, DC', '25010 Property Ownership: Mgt Remington', '43 Property Ownership', '45 Int Coal, Oil, Gas/6.5 Ac. Winn Lick', '842 Middle Island Lot/Bald Head Island', '6 Peppervine Trail/Bald Head Island, NC', '949/951/953 Middle Island Lots/Bald Head', '521 Middle Island Lot/Bald Head Island', '15 Horsemint Trail/Bald Head Island, NC', '60 G Street SW/Washington, DC', '725 Mt Vernon Avenue/Fairmont, WV', '60 G St SW/Washington, DC', '5th Avenue Tech Growth Fund', '3252 Winchester Road/Delaplane, VA', '3rd Avenue Focus Credit Investment Fund', '1st Eagle Global Fund', '3rd Avenue Real Estate Value Inv Fund', '2nd Home/Thessaliniki, Greece', '33 Myrtle Street/Boston, MA', '27 acres of unimproved land/Pelham, MA', '25 acres unimproved land/Berlin Township', '45 acres of unimproved land/Pelham, MA', '25 acres of unimproved land/Beachlake', '120 acres unimproved land/Plainfield, MA', '27 acres of Unimproved land', '120 acres of unimproved land', '45 acres of Unimproved land', '2104 Lago Viejo South/Rancho Viejo, TX', '1011 Ennis Joslin/Corpus Christi, TX', '800 Balboa Road/Rancho Viejo, TX', '4601 Carmen Unit 2104/Rancho Viejo, TX', '649 McClendon St/Corpus Christi, TX', '2422 Bluewater Highway/Surfside, TX', '9 BT Archer/Oyster Creek, TX', '58 Flag Lake Plaza/LJ, TX', '58 Flag Lake Plaza/Lake Jackson, TX', '58 Flag Lake Plaza/Lake Jackson TX', '19 Bock Avenue/Newark, NJ', '820 Sir Francis Drake Blvd/San Anselmo', '723 Mule Ears Court/Norden, CA', '45 Belden Place/San Francisco, CA', '25 Point Lobos/San Francisco, CA', '1600 Atlas Peak Road/Napa, CA', '235 Twelve Inc', '25 Point Lobos - Commercial Property', '11 Zinfandel Lane - Home & Vineyard', '723 Mule Ears Court - Townhome', '45 Belden Place - Four Story Commercial Building', '1600 Atlas Peak Road - Real Estate Investment', '130 N 2nd Street/Pleasantville, PA', '601 Pennsylvania Ave NW/Washington, DC', '601 Pennsylvania Ave NW 202', '3390 Ben Hur Road/Mariposa, CA', '76.57 82 & 2.2 Acre Tracts/Sampson Co', '10 Acres Real Estate/Castle Hayne, NC', '76.57, 82 & 2.2 Acre Tracts/Sampson Co', '3 Tracts/Salemburg, NC', '10 Acres Real Estate', '2% Interest Cambridge Heights Apts Partnership', '301 174th Street/Sunny Isles, FL', '160 acres/Bullhead City, AZ', '55.10 Acre Parcel', '50% interest in part of Parcel III, Lot', '2 Parcels/Iron County, UT', '75 Acres Patented Mining Claims', '55.1 Acres/Searchlight, NV', '1/4 Acre Vacant Lot In Section 5 T 7s', '1/4 acre vacant lot in Section 5, T 7S', '55.10 acres/Pat Sur 2605/Searchlight, NV', '160 acres/Bullhead County, AZ', '50% Interest In Lot 9/Searchlight, NV', '1.4 acre vacant lot in Sec. 5, T7S, R61E', '2 parcels/Iron Ct, UT', '160 acres', '2 parcels/Iron Ct UT', '1 Lot/Columbia, SC', '1/3 Lot Gift/Sumter, SC', '1/3 Lot/Sumter, SC', '1 Lot', '1/2 interest in two lots', '1/3 interest in unimproved land', '3411 Woodley Road Property Description: Residence', '530 First Street SE/Washington, DC', '371 W Harding/San Antonio TX', '371 W Harding/San Antonio, TX', '830 1st Street SE/Washington, DC', '530 1st Street SE/Washington, DC', '163 D Street SE/Washington, DC', '550 Huyler Street/South Hackensack, NJ', '125 Louis Street/South Hackensack, NJ', '80 Wesley Street/South Hackensack, NJ', '4E Forest Avenue/Englewood, NJ', '425 Victoria Terrace/Ridgefield, NJ', '40 Ruta Court/South Hackensack, NJ', '30 Ruta Court/South Hackensack, NJ', '250 North Street/Englewood, NJ', '17793 Southwick Way/Boca Raton, FL', '175 Louis Street/Hackensack, NJ', '150 Louis Street/South Hackensack, NJ', '600 Hollister Road/Teterboro, NJ', '45 Ruta Court/South Hackensack, NJ', '538-540 Huyler Street/South Hackensack', '80 Wesley Street RNN Llc', '175 Louis Street Sustar LLC', '250 North Street/Teterboro, NJ', '538-540 Huyler St/South Hackensack, NJ', '550 Huyler St/South Hackensack, NJ', '250 North Street/Teterboro NJ', '175 Louis Street/Hackensack NJ', '401k', '401k Account', '1624 Via Arriba/Palos Verdes Home', '2105 N Townek SA/Personal Home', '509 King Street Residence', '84M Pre-2010', '307 Sea Island Parkway', '301 Sea Island Parkway', '84M Post 2009', '311B Sea Island Parkway', '2304 Pine Ct #75', '2304 Pine #10', '217 Rivers Street', '1813 Lovejoy Street', '18 Tailwind Trail', '14 Tailwind Trail', '82 Barnaby Bluff, Lot 160', '509 Kin

#### Change the entries in congOrgs[res[i]] with '% '[1] to company names on a case by case basis and insert back where ever they're used in the actual dataframe