In [1]:
import numpy as np
import pandas as pd

In [2]:
congFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/consolidated_end116.csv'
firmFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/comp_firms.csv'

In [3]:
congDF = pd.read_csv(congFile)
congDF = congDF.drop(['Unnamed: 0'], axis=1)
congDF.head()

,cid,personName,year,orgid,orgname,industry,asset_type,min,max,hidemax,type,lobbies,contributes,folderOfOrigin
0,N00000939,Nadler-Jerrold,2014,D000000103,JPMorgan Chase & Co,Commercial Banks,NaN,15001,50000,0,Y,Y,NaN,cong111
1,N00000939,Nadler-Jerrold,2014,D000021792,HSBC Bank,Commercial Banks,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong111
2,N00000939,Nadler-Jerrold,2014,NaN,Congressional Federal Credit Union Account,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong111
3,N00000939,Nadler-Jerrold,2011,D000021792,HSBC Bank,Commercial Banks,Cash/Money Market/Savings/Checking,15001,50000,0,Y,NaN,NaN,cong111
4,N00000939,Nadler-Jerrold,2011,D000000103,JPMorgan Chase & Co,Commercial Banks,NaN,1001,15000,0,Y,Y,NaN,cong111

In [4]:
firmDF = pd.read_csv(firmFile)
firmDF.head()

   gvkey                     conm                    conml state
0   1000    A & E PLASTIK PAK INC    A & E Plastik Pak Inc   NaN
1   1001  A & M FOOD SERVICES INC  A & M Food Services Inc    OK
2   1002                 AAI CORP                 AAI Corp    MD
3   1003    A.A. IMPORTING CO INC    A.A. Importing Co Inc    MO
4   1004                 AAR CORP                 AAR Corp    IL

In [5]:
print(len(firmDF['gvkey'].unique()))
print(len(firmDF['conm'].unique()))
print(firmDF['conm'].describe())
print(len(firmDF))
firmDF.describe()

32813
32810
count           32813
unique          32810
top       LUMENIS LTD
freq                2
Name: conm, dtype: object
32813

               gvkey
count   32813.000000
mean    58914.747783
std     66792.343541
min      1000.000000
25%      9787.000000
50%     23959.000000
75%    115960.000000
max    319507.000000

In [6]:
firmDF[firmDF['conm']=='LUMENIS LTD']

       gvkey         conm        conml state
14777  19845  LUMENIS LTD  Lumenis Ltd   NaN
21697  62471  LUMENIS LTD  Lumenis Ltd   NaN

In [7]:
print(congDF['cid'].unique())
print(len(congDF['cid'].unique()))
print(len(congDF['folderOfOrigin'].unique()))

['N00000939' 'N00004227' 'N00005178' ... 'N00030418' 'N99999922'
 'N00000286']
1012
12

In [8]:
print(congDF['personName'].describe())

count         245582
unique          1012
top       Kerry-John
freq            4873
Name: personName, dtype: object

In [9]:
congDF.describe()

                year           min           max        hidemax
count  245582.000000  2.455820e+05  2.455820e+05  245582.000000
mean     2009.709201  1.423359e+05  3.642206e+05       0.010819
std         3.367244  2.100153e+06  2.941882e+06       0.103451
min      2004.000000 -3.547540e+05 -3.547540e+05       0.000000
25%      2007.000000  1.001000e+03  1.500000e+04       0.000000
50%      2010.000000  1.500100e+04  3.986150e+04       0.000000
75%      2013.000000  5.000100e+04  1.000000e+05       0.000000
max      2015.000000  3.120000e+08  3.120000e+08       1.000000

### Testing string matches

#### OBSERVATIONS:
- Do the process.extract() & then run a fuzzy match on ratio and partial ratio(this checks for substring)
  for added netting

In [10]:
congOrgs = congDF['orgname'].unique()
firmOrgs = firmDF['conm'].unique()
firmOrgsLC = firmDF['conml'].unique()

In [11]:
print('unique cong orgs:', len(congOrgs))
print('unique firm orgs:', len(firmOrgs))
print('unique firm orgs lower case:', len(firmOrgsLC))

unique cong orgs: 70512
unique firm orgs: 32810
unique firm orgs lower case: 32682

In [12]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from fuzzywuzzy import utils
from fuzzywuzzy.string_processing import StringProcessor

In [13]:
searchSTR = congOrgs[5000]
print(searchSTR.lower())
print('\n')
print(process.extract(searchSTR.lower(), firmOrgs, limit=5))
print('\n')
print(process.extract(searchSTR.lower(), firmOrgsLC, limit=5))

university of new mexico rev bond


[('ALLTEL NEW YORK INC', 86), ('INVESCO BOND FUND', 86), ('DIVERSICARE CP OF AMER', 86), ('GALLERY OF HISTORY INC', 86), ('NEW AMERICAN SHOE CO', 86)]


[('Alltel New York Inc', 86), ('Invesco Bond Fund', 86), ('VanEck Vectors Emerging Markets High Yield Bond ETF', 86), ('Gallery of History Inc', 86), ('New American Shoe Co', 86)]

In [14]:
orgMatch, per = process.extractOne(searchSTR, firmOrgs)
orgMatchLC, per = process.extractOne(searchSTR, firmOrgsLC)
print(searchSTR, orgMatch ,fuzz.ratio(searchSTR, orgMatch))
print(searchSTR, orgMatchLC ,fuzz.ratio(searchSTR, orgMatchLC))

University of New Mexico Rev Bond ALLTEL NEW YORK INC 19
University of New Mexico Rev Bond Alltel New York Inc 35

In [15]:
firmDF[firmDF['conml']=='CACI International Inc.']# firmDF[firmDF['conm']=='ABVIVA INC']

      gvkey                  conm                    conml state
1491   2596  CACI INTL INC  -CL A  CACI International Inc.    VA

In [16]:
fuzz.partial_ratio('CACI International', 'CACI International Inc.') # fuzz.partial_ratio('Citibank Cash Reserves Account 27', 'CityBank')

100

In [17]:
def levenshteinDistance(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1

    distances = range(len(s1) + 1)
    for i2, c2 in enumerate(s2):
        distances_ = [i2+1]
        for i1, c1 in enumerate(s1):
            if c1 == c2:
                distances_.append(distances[i1])
            else:
                distances_.append(1 + min((distances[i1], distances[i1 + 1], distances_[-1])))
        distances = distances_
    return distances[-1]

def levRatio(s1, s2):
    l = levenshteinDistance(s1, s2)
    m = max(len(s1), len(s2))
    return (1 - (float(l)/float(m))) * 100

In [18]:
print(levRatio(searchSTR, orgMatch))

print(levRatio(searchSTR, orgMatchLC))

15.151515151515149
27.27272727272727

In [19]:
print(fuzz.ratio(searchSTR, orgMatch))
print(fuzz.ratio(searchSTR, orgMatchLC))

19
35

### Fuzzy Wuzzy explanations
- fuzz.ratio() -> edit distance simply (levenshtein)
- fuzz.partial_ratio() -> checks for search str to be substr 
- fuzz.token_sort_ratio() -> alphabetically sort both string tokens and then match ratio
- fuzz.token_set_ratio() -> make set(intersect) from both strings and create combinations with both & match ratio

In [20]:
import re

In [21]:
# congOrgs = sorted(congOrgs)

In [22]:
print(congOrgs)

['JPMorgan Chase & Co' 'HSBC Bank'
 'Congressional Federal Credit Union Account' ...
 'Goldman Sachs/Canadian Dollars' 'Goldman Sachs/Australian Dollars'
 'BCIP Assoc III B']

In [23]:
results = [re.search("^[0-9]", l, flags=re.IGNORECASE) for l in congOrgs]

print(len(results))
# for i in range(len(congOrgs)): 
#     print(re.search('^a', congOrgs[i], flags=re.IGNORECASE))

70512

In [24]:
# print(results)

In [25]:
# results = list(filter(None.__ne__, results))
res = [i for i in range(len(results)) if not results[i] is None]
print([congOrgs[res[i]] for i in range(len(res))])

['401k Pension Plan American Funds', '401K /Pension Plan American Funds', '7344 Gwin St/Valley Springs CA', '7344 Gwin St/Valley Spring CA', '7400 Gwin St Valley/Springs, CA', '7344 Gwin St/Valley Springs, CA', '2200 acres land/Lindsay, TX', '292 acres land/Montague County, TX', '12 acres/Dallas, TX', '167 acres/Valley View, TX', '3M Co', '500 Bank Insured Deposit', '10 oz Gold Bar', '1290 Business DEV COM OPPTYS', '1303 TACT INC Closed-End', '1272 International High 30 DVD', '535 Marina Street/Rio Grande, PR', '615 Vistamar Street/Rio Grande, PR', '535 Marina St/Rio Grande, Puerto Rico', '615 Vistamar St/Rio Grande, Puerto Rico', '2025 W St Paul/Chicago, IL', '1003 W Fulton/Chicago, IL', '2146 W Churchill/Chicago, IL', '1 Lot/Columbia, SC', '1/3 Lot/Sumter, SC', '1/2 interest in two lots', '1/3 interest in unimproved land', '1 Lot', '1/3 Lot Gift/Sumter, SC', '529C', '113 Inherited Interest of Apartment in U', '6030 Woodrun Court/Montgomery, AL', '35 Bluff Drive LLC', '18th St/Tybee, GA/Rental Property', '35 Bluff Drive LLC/Extended Family Residence', '5 Island Drive/Savannah, GA', '111 Jacquelyn Drive/Savannah, GA', '105 18th Street/Tybee Island, GA', '5 Island Dr/Savannah GA', '2351 Rocky Ridge Road/Birmingham, AL', '4821 12th Avenue/North Birmingham, AL', '3939 29th Place/North Birmingham, AL', '2025 16th Avenue/North Birmingham, AL', '3622 Curits Park Drive/Sacremetno, CA', '1300-1302 W 94th St/Los Angeles', '717 East Vernon St/Long Beach, CA', '1300-1302 W 94th St/Long Angeles, CA', '3622 W Curtis Park Dr/Sacramento, CA', '7-Eleven', '42nd & 10th', '301 Howard Street', '230 Park Ave', '100 K Street', '60.3 acres land', '60 acres land', '60.3 acres bnd', '60.3 acres lan', '532 Southview Dr/Brookings, SD', '500 Miller Drive/Marshall, TX', '532 Southview Drive/Brookings, SD', '500 Miller Dr/Marshall, TX', '929 Alta Oaks Drive/Henderson, NV', '1148 South 1470 East/Provo, UT', '913 Adobe Flat Drive/Henderson, NV', '511 Chandler Street/Henderson, NV', '20 Residential rental property', '42 MFS Utilities Svc', '929 Alta Oaks Drive/Henderson NV', '4 Plex Rental Units', '4-Plex Rental Units/San Antonio, TX', '4 Plex Rental Unit San Antonio, TX', '4 Plex Rental Unit/San Antonio, TX', '1304 Quintard Anniston', '12 McCullus, Oxford', '1126 Snow St/Oxford, AL', '1310 Quintard Anniston', '123 E 13th St/Anniston', '1304 Quintard/Anniston', '12 McCulloss Lane/Oxford', '1126 Snow St/Oxford', '1310 Quintard/Anniston', '123 East 13th St/Anniston', '12 McCullars/Oxford', '1304 Quintord/Arriston', '12 McCullers Lane/Oxford', '1310 Quintord/Arriston', '123 E 13th St/Amiston', '1304 Quinford/Anniston', '12 McCullars/Oxford, AL', '1310 Quinford/Anniston', '123 E 17th/Anniston', '1210 Guilford/Anniston', '12 McCullors Lane/Oxford', '96 acres/Southampton County, VA', '96 acres', '25% Interest Inherited from the Settlement of the', '96 Acres, Route 64', '842 Middle Island Lot/Bald Head Island', '60 G Street SW/Washington, DC', '15 Horsemint Trail/Bald Head Island, NC', '60 G St SW/Washington, DC', '725 Mt Vernon Avenue/Fairmont, WV', '6 Peppervine Trail/Bald Head Island, NC', '949/951/953 Middle Island Lots/Bald Head', '521 Middle Island Lot/Bald Head Island', '25010 Property Ownership: Mgt Remington', '43 Property Ownership', '45 Int Coal, Oil, Gas/6.5 Ac. Winn Lick', '215 Robinson Rd/Gastonia, NC', '5224 Union Rd/Gastonia, NC', '109 W 8th Ave/Gastonia, NC', '806 Requa Road/Cherryville NC', '5524 Union Rd/Gastonia, NC', '4211 Pete Brown Road/Charlotte, NC', '621 W Garrison Road/Gastonia, NC', '5524 Union Road/Gastonia, NC', '621 W Garrison Blvd/Gastonia, NC', '806 Requa Road', '806 Requa Rd', '215 Robinson Rd', '5224 Union Rd', '109 W 8th ave', '20 Acres Undev Land/Utah County, UT', '20 acres of undeveloped', '20 acres of Undeveloped land', '1 Hopper Street/Utica, NY', '549 S Lucerne', '701 W Barstow', '2201 Kirk St, Houston, TX', '549 So Lucerne Blvd LA', '701 W Barstow/Palm Springs, CA', '2201 Kirk Street/Houston, TX', '549 So Lucerne Blvd/LA', '549 S Lucerne Blvd/Los Angeles, CA', '549 So Lucerne Blvd/Los Angeles, CA', '2201 Kirk St/Houston, TX', '549 S Lucerne/LA, California', '701 W Barstow/California', '2201 Kirk St/Houston', '18801 Beach Blvd', '1380 S Auto Center Dr', '1350 Auto Mall Drive', '1330 Auto Mall Drive', '1300 Auto Mall Drive/Santa Ana, CA', '3032 Wilshire Blvd/Santa Monica, CA', '11528 Martens River Circle/Fountain Valley, CA', '3848 Mentone Partners', '18801 Beach Blvd/Huntington Beach', '1380 S Auto Center Dr/Anaheim, CA', '1350 Auto Mall Drive/Santa Ana, CA', '1330 Auto Mall Drive/Santa Ana, CA', '28730 Marguerite Pkwy/Mission Viejo, CA', '18801 Beach Blvd/Huntington Beach, CA', '1380 Auto Mall Drive/Santa Ana, CA', '9581 Irvine Center Drive/Irvine, CA', '9581 Irvine Center Drive, Irvine', '1380 S Auto Center Drive, Anaheim', '1350 Auto Mall Drive, santa Ana', '1330 Auto Mall Drive, santa Ana', '1300 Auto Mall Drive, santa Ana', '11528 Martens River Circle, Fountain Valley', '1 Farley Drive/Rensselaer, NY', '4 Farley Drive/Albany, NY', '1005 Mooney Drive/Monterey Park, CA', '529 Investment', '1633 Hill Drive/Los Angeles, CA', '1005 Mooney Drive Monterey Park, CA', '101 North Carolina Place SE Apt H Washington', '529 Small Cap World Fund', '101 North Carolina Pl SE/Washington, DC', '101 North Carolina Place, SE/Washington, DC', '101 North Carolina Place SE Apt H/Washington', '529 College Savings Plan', '101 North Carolina Place SE Apt H/Wash', '1112 Dunn (Warehouse)/Cheyenne, WY', '1112 Dunn Ave', '2025 Freedom Fund', '529 Savings Plan for son', '5 Small Cap Core Fund', '4 Cel-Sci', '2 lots (3.31 acres) & 1 lot (2.68 acres)', '1854 Harlan Road/Toledo, OH', '1846 Rivard Road/Toledo, OH', '1837 Dority Road/Toledo, OH', '5151 Fleet Rd/Toledo, OH', '1854 Harlan Rd/Toledo, OH', '1848 Rivard Rd/Toledo, OH', '806 Mystic Dr/Cape Canaveral, FL', '1824 South Fiske Blvd/Rockledge, FL', '1004 Barton Blvd/Rockledge, FL', '2368 Tink Drive/Tallahassee, FL', '1820 Huntington Lane/Rockledge, FL', '806 Mystic Dr/Cape Canaveral', '1824 S Fiske Blvd/Rockledge, FL', '1820 Huntington Ln/Rockledge, FL', '2368 Tina Drive/Tallahassee, FL', '806 Mystic Dr 310/Cape Canaveral, FL', '1803 Hinsley Dr/Rockledge, FL', '1004 Boston Blvd/Rockledge, FL', '606 Mystic Dr #310/Cape Canaveral, FL', '1803 Hensky Dr/Rockledge, FL', '1224 S Fiske Blvd /Rockledge, FL', '1220 Huntington Lane/Rockledge, FL', '806 Mystic Dr #310', '1824 S Fiske Blvd Roickledge, FL', '1803 Hensley Dr Rockledge, FL', '1820 Huntington Ln Rockledge, FL', '1803 Hensley Dr/Rockledge, FL', '806 Mystic Dr #310/Cape Canaveral, FL', '12901 W Jefferson Blvd/Los Angeles, Ca', '455 Shore Road/Chatham MA', '26 Auburn St/Charlestown, MA', '455 Shore Road/Chatham, MA', '455 Shore Road', '529 College Saving Plan for dependent child owned', '529 Excepted Trust', '163 D Street SE/Washington, DC', '408 E 3rd St SE/Washington DC', '408 E 3rd SE/Washington, DC', '140 Main Street/Gillett, AR', '408 E 3rd Street SE/Washington, DC', '1916 Monongahela Avenue/Pittsburgh, PA', '1916 Monongahela Avenue', '325 E Nash Street/Funeral Home', '211-213 Pender Street', '109 Wayfarer Court', '137 Wayfarer Court', '1704 Martin Luther King Parkway', '211 Pender Street', '603 Nash Street', '1001 Vance Street', '5314 Ward Blvd', '215 Pender Street', '1702-1704 MLK Parkway', '622 Nash Street', '613 Nash Street', '610 Nash Street', '205 Pender Street', '111 Ash Street', '107 Pender Street', '706 Nash Street', '702 Nash Street', '622.5 Nash Street', '109-203 Pender Street', '800 Hines Street', '600 Nash Street', '800 Hines Real Estate', '1001 Vance Real Estate', '603 Nash Real Estate', '5314 Ward Real Estate', '1702-1704 MLK Real Estate', '613 Nash Real Estate', '305 Pender Real Estate', '1614-1616 MLK Real Estate', '111 Ash Real Estate', '106 Pende Real Estate', '211-213 Pender St (connie)', '1001 Vance St', '800 Hines St', '1702 Martin Luther King Parkway', '137 Wayfarer Ct (connie)', '1614 Martin Luther King Parkway', '325 E Nast Street', '113 S Pender', '608 E Nash', '205 S Pender St', '622.5 East Nash', '622 East Nash Street/Garris', '105 S Pender', '1001 Vance Street North', '536 Nash/BT Barnes', '603 Nash St', '548 Nash St/Rosemond', '106 Pender St', '528 Nash Street/Beauty Parlor', '109, 201, 203 S Pender St', '611-613 Nash St', '542 Nash St/Potts', '115,117 Ash St', '111-113 Ash Street', '301 Pender St', '610-612 E Nash St/Funeral Home', '544 Nash/Tolson', '532 Nash/Tolson', '301 East Street', '203 East St', '534 Nash/Wingate', '550 Nash St', '217 Pender St', '215 S Pender St', '107 S Pender St', '222 International Drive LP', '175 Purchase Street LLC', '185 Beacon Street LLC', '395 Marlborough LLC', '222 International LLC', '180 International LLC', '500 Index Fund Inv', '320 acres of Farmland/Roger Mills Co', '480 acres Farmland/Roger Mills, Co', '63-34 acres  Mineral Rights/Roger Mill', '320 acres - Farmland/Cheyenne/Roger Mills, OK', '480 acres - Farmland/Cheyenne/Roger Mills, OK', '63 acres Mineral Rights/Roger Mills, OK', '480 acr-Farmland-House-Cattle/Cheyenne', '480 acres Farmland, House, Equip, Cattle', '103 acres Mineral Rights/Roger Mills, OK', '480 acres - Farmland', '320 acres - Farmland/Roger Mills Co OK', '10 Federal St/Portland, ME', "23rd St Properties c/o Collie's Intl", "23rd St Properties/Collier's Internat'l", '5th Avenue Tech Growth Fund', '3Com Corp', '3252 Winchester Road/Delaplane, VA', '3rd Avenue Focus Credit Investment Fund', '1st Eagle Global Fund', '3rd Avenue Real Estate Value Inv Fund', '470 & 472 Radcliff Drive', '470 & 472 Radcliff Drive (with spouse)', '5604 & 5606 Parkville Rd', '5596 & 5598 Parkville Rd', '2210 & 2212 Tupsfield Rd', '5604 & 5606 Parkville Road', '5596 & 5598 Parkville Road', '2210 & 2212 Tupsfield Road', '5596 & 5598/Parkville Road', '5596 & 5598 Parkville Rd (with father)', '3-Bed Condo/Questa Verde, VI', '197 Acres 40ED/La Grange, VI', '25% interest in ZLDR partnership owning 95 acres +', '645-47 W Liberty Street/Sumter, SC', '645-47 West Liberty Street/Sumter, SC', '645-47 W Liberty St', '645-47 West Liberty St/Sumter, SC', '645-47 W Liberty St/Sumter, SC', '1187 acres Farmland/Conejos & Costilla', '401k Retirement', '457b Deferred Compensation Plan', '21 7th Street NE (Room)/Washington, DC', '401K/ Mid Cap Fund', '457 Small Cap Fund', '457 Large Cap Socially Responsible Fund', '457 Large Cap Index Fund', '457 Short Term Investment Fund', '457 Mid Cap Fund', '457 Large Cap Fund', '401K Small Cap Fund', '401K Short Term Investment Fund', '401K Mid Cap Fund', '401K Large Cap Fund', '457 Short Term Investment Fund- Cash', '457 Large Cap', '457 International Fund', '403B--Large Cap U.S. Stock-DWS Cap Growth VA', '401K Short Term Investment Fund- Cash', '401K Large Cap Socially Responsible Fund', '401K Large Cap Index Fund', '401K International Fund', '1435/1439 Kearny St, St Helena', '2140 Finley Road East/Finley, CA', '1435/1439 Kearney Street/St Helena', '1435/1439 Kearney Street/St Helena, CA', '20% Interest Travis Webb', '6 Acres Land/11468 Hwy 105', '3 Acres Land/11468 Hwy 105', '169 Crystal Dr/Banner Elk, NC (for sale)', '6 Acres Land Hwy 105/Banner Elk, NC', '3 acres 11468 Hwy 105/Banner Elk, NC', '2 Acres Land, 240 Rhine Frost', '6 Acres Land, 11468 Hwy 105', '3 Acres Land,11468 Hwy 105', '175 Crystal Dr/Banner Elk, NC (for sale)', '50% Templeton Foreign Fund 50% Artisan T', '189 Crystal Dr/Banner Elk, NC (for sale)', '166 Crystal Dr/Banner Elk, NC (for sale)', '100 Plaza Investment Real Estate', '600 LC', '1299 LC', '6430 Hollywood Blvd LLC', '998 Inc', '130 North Tamiami Trail LLC', '301 Oxford LLP', '10-2002 LLC', '996 Inc', '10-3003 LLC', '130 Tamiami Trail Rental', '301 Oxford LLC', '2 Rentals homes/Bradenton, FL', '1099 Management Co', '600 Las Colinas', '130 N Ramiami Trail LLC', '600 LC auto dealer', '996 Inc rental property', '301 Oxford LLP real estate', '2 rental homes Bradenton, FL', '800 LC', '3460 Hollywood Blvd LLC', '10-2000 LLC', '10-3000 LLC', '600 LC/Cocoa, FL', '926 Inc', '3 Tracts/Salemburg, NC', '10 Acres Real Estate/Castle Hayne, NC', '76.57, 82 & 2.2 Acre Tracts/Sampson Co', '76.57 82 & 2.2 Acre Tracts/Sampson Co', '10 Acres Real Estate', '2% Interest Cambridge Heights Apts Partnership', '690 9th Street SW/Washington, DC', '440 Spring Street/Collinsville Madison, IL', '440 Spring Street/Collinsville, IL', '690 9th Street, SW/Washington, DC', '690 9th Street SW/Washington, DC, US', '820 Sir Francis Drake Blvd/San Anselmo', '723 Mule Ears Court/Norden, CA', '45 Belden Place/San Francisco, CA', '25 Point Lobos/San Francisco, CA', '1600 Atlas Peak Road/Napa, CA', '235 Twelve Inc', '25 Point Lobos - Commercial Property', '11 Zinfandel Lane - Home & Vineyard', '723 Mule Ears Court - Townhome', '45 Belden Place - Four Story Commercial Building', '1600 Atlas Peak Road - Real Estate Investment', '99 Tally Ho Court/Sapphire, NC', '2827 Wilson Road/Springdale, SC', '2823 Wilton Road/Springdale, SC', '220-A Justice Court NE/Washington, DC', '2827 Wilton Rd/Springdale, SC', '2823 Wilton Rd/Springdale, SC', '640 Sunset Blvd/West Columbia, SC', '1534 Sunset Blvd/West Columbia, SC', '101 Shuler Street/West Columbia, SC', '922 Sunset Blvd/West Columbia, SC', '515 E Main St/Lexington, SC', '2827 Wilton Road/Springdale, SC', '7720 Building Corp', '1806 West Street/Union City, NJ', '3231 & 3233 West Capitol St/Jackson, MS', '2 acres unimproved property/Bolton, MS', '2 acres unimproved property', '12 acres unimproved property', '5 acres unimproved property', '2 acres of Unimproved Property', '2 acres Northside Drive/Bolton, MS', '1 acre/Old Fairground Road Edwards, MS', '1 acre/Mount Olive Road Bolton, MS', '1101 S Arlington Ridge Rd/Arlington, VA', '11 Acres/Strafford, MO', '11 Undeveloped Acres/Strafford, MO', '11 Undeveloped Acres in Strafford, MO', '401-K Mondelez Int Inc', '116 & Melbourne Branson', '1602 SE Flavel Street/Portland, OR', '6 Whole-Life Insurance policies', '125 acres Minerals/Wilkinson County, GA', '46.5 acres/Wilkinsons County', '46.5 acres in Wilkinsons County', '46 acres/Wilkinsons County', '3627 W 104th St LLC', '3627 W 104th Street LLC', '3627 West 104th St LLC', '524 Johnstown Rd/Chesapeake, VA', '536 Johnstown (Residence)/Chespk, VA', '524 Johnstown Rd, Chesapeake VA - Office Building', '536 Johnstown Rd, Chesapeake, VA - Rental Home', '524 Johnstown Rd, Chesapeake, VA Office Building', '536 Johnstown Rd Rental/Chesapeake, VA', '524 Johnstown Rd/Cheasapeake, VA', '524 Johnstown (Office)/Chesapeake, VA', '1391 Duck Rd/Dare Co NC', '160 acres/Bullhead City, AZ', '2 Parcels/Iron County, UT', '1/4 acre vacant lot in Section 5, T 7S', '55.10 Acre Parcel', '75 Acres Patented Mining Claims', '55.1 Acres/Searchlight, NV', '1/4 Acre Vacant Lot In Section 5 T 7s', '1.4 acre vacant lot in Sec. 5, T7S, R61E', '2 parcels/Iron Ct UT', '160 acres', '2 parcels/Iron Ct, UT', '55.10 acres/Pat Sur 2605/Searchlight, NV', '160 acres/Bullhead County, AZ', '50% Interest In Lot 9/Searchlight, NV', '50% interest in part of Parcel III, Lot', '90+acres/Wright Township, PA', '20+acres/Dallas Township, PA', '126 S Franklin Street/Wilkes-Barre, PA', '2001 Ford Truck', '2001 Chrysler', '1995 Saturn', '1996 Ford Truck', '2012 Ford Fusion', '1996 Ranger Truck', '2010 Ford Fusion', '1996 Ford Ranger', '500 Index', '350 G Street SW #N208', '7447 Cambridge #124/Houston, TX', '7447 Cambridge #107/Houston, TX', '7447 Cambridge #105/Houston, TX', '350 G Street SW/Washington, DC', '7447 Cambridge 124/Houston, TX', '7447 Cambridge 107/Houston, TX', '7447 Cambridge 105/Houston, TX', '7447 CAMBRIDGE #124', '7447 Cambridge #107', '7447 Cambridge #105', '7447 Cambridge, #124/Houston, TX', '7447 Cambridge, #107/Houston, TX', '7447 Cambridge, #105/Houston, TX', '802 Meadowlark/Howell, MI', '720 Caesar Rd/Picayune, MS', '720 Caesar Road/Picayune, MS', '266 Daisy Ave/Imperial Beach, CA', '230 Ebony Ave/Imperial Beach, CA', '192 & 194 Ebony Ave/Imperial Beach CA', '829-831 10th Ave/Imperial Beach, CA', '257 Ebony Ave/Imperial Beach, CA', '499 8th St/Imperial Beach, CA', '3473 Cactus Valley Lane/Laughlin, NV', '266 Daisy Aven/Imperial Beach, Ca', '2466 Unicornio St/Carlsbad, Ca', '230 Ebony Ave/Imperial Beach, Ca', '192-194 Ebony Ave/Imperial Beach, Ca', '257 Ebony Ave/Imperial Beach, Ca', '449 8th Street/Imperial Beach, Ca', '3473 Cactus Valley Lane/Laughlin, Nv', '829-831 10th St/Imperial Beach, Ca', '720 Cesar Rd/Picayune, MS', '19 Raleigh St/Helena, MT', '129 & 194 Ebony Ave/Imperial Beach', '289-831 10th St/Imperial Beach, CA', '760 Caesar Road/Picayune, MS', '701/801 LLC', '50 Acres/Lyme, NH', '1976 Jaguar personal car', '1925 Squaw Run Road/Pittsburgh, PA', '3-D Systems Corp', '338 Baird St home/Barberton, OH', '2 Brothers Investment LLC', '359 Acre Ranchland/Framont, ID', '3325 Mannheim Ct', '529 C Fund Capital Income Builder', '300 West 17th Street/Tucson, AZ', '2370 Calypso Lane/League City, TX', '117 West Armijo/Tucson, AZ', '300 West 17th St/Tucson, AZ', '20 ft Pontoon boat & 40 hp Mercury motor', '17 ft Boston Whaler boat/70 hp Jhnsn mtr', '1994 Cadillac Deville', '1996 Buick Regal', '1989 Cadillac Fleetwood', '1991 Buick Century automobile', '17ft Boston Whaler boat/70hp Johnson mtr', '2013 Ford Taurus', '20 ft Pontoon Boat', '2009 Ford Taurus', '17 ft Boston Whaler boat', '20 Ft Pontoon Boat & 40 Hp Mercury Outb', '17 Ft Boston Whaler Boat & 70 Hp Johnso', '1994 Cadillac Deville-retail Value', '1996 Buick Regal-retail Value', '1989 Cadillac Fleetwood-retail Value', '150 D Street SE/Washington, DC', '3466 Legendary LV NV', '208 D Street SE/Washington, DC', '7032 Azure Beach/Las Vegas, NV', '546 Poplar Leaf/Las Vegas, NV', '489 Melrose Heights/Henderson, NV', '3964 Bella Palermo Way/Las Vegas, NV', '11932 Orense Dr/Las Vegas, NV', '11829 Ampucia/Las Vegas, NV', '11628 Aruba Beach/Las Vegas, NV', '11234 Revelry Lane/Las Vegas, NV', '11012 Meadow Leaf/Las Vegas, NV', '3466 Legendary/Las Vegas, NV', '2630 East Harris Farm Rd/Pahrump, NV', '2400 Tech Center LLC', '1241 Pascoe/Pahrump, NV', '1660 Honeysuckle/Pahrump, NV', '1281 Laura/Pahrump, NV', '208 D St SE/Washington, DC', '150 D St SE/Washington, DC', '2630 E Harris Farm Rd/Pahrump, NV', '8 Sparqs Into Deil by MS 8% Qtrly Sep du', '314th & Osborn Road/Buckeye, AZ', '4154 Via Dana/Las Vegas, NV', '11234 Revelry Ln/Las Vegas, NV', '208 D St SE/Washington DC', '2nd Residence 3604 Oakland Dr/Alexandria', '3-year Compound', '3 Year Compound', '10 Year Compound', '444 Realty Co', '600 Broadway Assoc', '40 Worth Assoc', '360 Park South Assoc', '132 W 125 Co/Us Treasury Notes', '132 W 125 Co', '444 Realty Co/Hsbc Cash In Bank', '132 West 125 Co/Cash Hsbc Bank', '525 Properties Llc', '132 West 125 St/NY, NY', '132 W 125 St LLC/Cash', '910 Park Avenue Residential Real Estate', '40 Worth St Assoc', '360 Park Ave South/NY', '584 Broadway/New York, NY', '299 Broadway/NY', '525 Seventh Ave/New York, NY', '360 Park Ave S Assoc', '132 W 125 St LLC', '132 West 125 St Office Building/NY, NY', '132 W 125 St LLC/Cash in Bank HSBC', '712 West Assoc LLC', '682 Inwood Assoc LLC', '360 Park Ave Invest Ptsp', '7510 LLC /Cash in Bank HSBC', '444 Real Estate Co', '360 Park Ave S Assoc/Cash in Bank HSBC', '584 Broadway Assoc Office Building', '299 Broadway Assoc Office Building', '525 Seventh Ave Assoc Office Building', '132 W 125 St LLC/US Treasury Bills', '7510 Assoc', '360 Park Ave S Assoc/US Treasury Bills', '299 Broadway Assoc', '132 West 125 St Office Bldg/New York, NY', '525 Seventh Ave Assoc', '444 Realty Co/Commercial RE NY, NY', '360 Park South LLC', '360 Park South Assoc/US Treasury Bond', '444 Realty Co/US Treasury Bonds', '444 Realty Co/HSBC Cash', '360 Park South Assoc/HSBC Cash', '2S Crossover LP', '2S Co', '132 W 125 Co/US Treasury Bonds', '3D Systems Corp', '21st Century Fox', '10 Acres of land/Johnson County, OK', '10 Acres of land in Johnson County, Owned with Bro', '219 Pearl Street/La Crosse, WI', '5 Buckhotz Road/Ettrick, WI', '213 Pearl Street/LaCrosse, WI', '219 Pearl Street/LaCrosse, WI', '219 Pearl St/La Cross

#### Change the entries in congOrgs[res[i]] with '% '[1] to company names on a case by case basis and insert back where ever they're used in the actual dataframe

In [26]:
congDF[congDF['orgname'] == '15% interest in Legal Press, LLC']

,cid,personName,year,orgid,orgname,industry,asset_type,min,max,hidemax,type,lobbies,contributes,folderOfOrigin
177341,N00035607,Trott-Dave,2015,NaN,"15% interest in Legal Press, LLC",NaN,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong114

In [27]:
print(len(congDF['asset_type'].unique()))
congDF['asset_type'].unique()

9

array([nan, 'Cash/Money Market/Savings/Checking', 'Brokerage, IRA, 401k',
       'Government Bond', 'Unknown',
       '"Account" or Combination of other types (I.e.Stocks & Bonds)',
       'Insurance policies & Annuities', 'Mutual Fund',
       'Note/Note Receivable'], dtype=object)

In [76]:
# REGEX patterns (https://help.libreoffice.org/Common/List_of_Regular_Expressions)
pattern = re.compile('\+?%\s')  #testing  regex (https://www.regextester.com/94730)
matches = [x for x in congOrgs if pattern.findall(x)]

In [77]:
print(matches)

['Ken-Ran Development 50% Interest Land', 'European Investment Bank Mtn 8.50000% 11', 'Citigroup Funding 3% based on Gold', '25% Interest Inherited from the Settlement of the', 'Wells Fargo Captial 7% Trust', 'ICMA-RC457 Deferred Comp Plan 100% in Vantage\nTr', 'Millco of Wilson LLC-600 Nash Street, 50% Interest', 'Aes Tr III 6.75% Conv', 'USB Capital X 6.5% Wells Fargo Cap XIV', 'Coupon Treasury Receipts INT PMT 12.5% o', 'DB 100% PPN-ABS RTN BAR S&P 500', 'UBS 100% PRAB S&P 500', 'Oakland MI Macomb 2.0% municipal bond', 'Manchester MI Cmnty 2.0% municipal bond', 'Inland Lakes MI Sch 2.25% municipal bond', 'Big Rapids MI Sch 3.25% municipal bond', '25% interest in ZLDR partnership owning 95 acres +', 'Hartford Life Insurance 75% notes', 'Gateway Inc 1.5% 12/31/09', 'Kentucky Asset/Liab 5% 7/15/06', 'Fidelity Asset Manager 50% Fund', '20% Interest Travis Webb', 'Travis Webb/20% interest', 'Fidelity UFUND 70% Equity Portfolio', 'Fidelity UFUND 100% Equity Portfolio', 'Fidelity College Investing 70% Equity', 'Fidelity College Investing 100% Equity', 'U Fund 70% Equity Portfolio*', 'NC Def Comp Plan 50% Templeton Foreign', '50% Templeton Foreign Fund 50% Artisan T', '2% Interest Cambridge Heights Apts Partnership', 'CBTCS Ser 2002-8 for Bell South 7% Pref', 'CBTCS for CIT 7.75% Pref', 'CBTCS for Cit 7.75% Pref Stock', 'PPLUS 7.65% for EI Paso Pref Plus Trust', 'UBS 100% S&P 500', 'UBS 100% Arsen Covery Bochat', 'UBS 100% PPN Asean currency', 'Lot 9 Description 50% interest Lot 9', '50% Interest In Lot 9/Searchlight, NV', '50% interest in part of Parcel III, Lot', 'Lot 9 50% interest Lot 9', 'Illinois College Savings 0% Bonds', 'Louisiana Pub Facs Auth 0% Bond', 'Utah ST Mun Fin Coop 0% Bond', 'West Virginia ST Infrast 0% Bond', 'Texas Mun Power Agency 0% Bond', 'Ohio St College Bonds B/E Cav 0% Bond', 'Miami Dade County 0% Bond', 'Kendall Kane & Will County 0% Bond', 'Illinois St Zero CPN 0% Bond', 'Gahanna Jefferson City Sch Dist, 0% Bond', 'E 470 Public Hwy Auth Co 0% Bond', 'Washington ST Series F 0% Bond', 'DuPage County, IL 0% G/O Bond', 'Adams County School District 0% Bond', 'Citigroup CAP XII TRUPS 8.5% FIX to FLP', 'LANSING MICH SEW DISP SYS REV REF, 5% Interest', 'Chester County Pa 5% 8-15-2013', 'Energy S 1.18% 10/1/14', 'Dreyfus 100% Treasury Fund', 'Vacant Land, 20% Interest, Unit 17, Blk 263, Lot 1', 'Vacant land, 20% interest, 138', 'JPMorgan 100% US Treasury Sec MM Reserve', '8 Sparqs Into Deil by MS 8% Qtrly Sep du', 'Fidelity Asset Manager 85% Fund', 'UKTB 0% 1/05/2009', 'Vacant Land 33 1/3% interest', '50% of 1/4 undivided interest 400 Acre Tract- Bent', '3% Interest In LP', 'JP morgan 100% Us Treasury securities', 'HSBC Cont Buff EQ SPX 06/27/12 80% Conti', 'GS Cont Buff EQ SPX 08/08/12 80% CONTIN', 'BARC REN SPX 05/02/12 2 XLEV 8.75% CAP', 'HSBC BREN SPX 11/02/12 10% Buffer 2 XLEV', 'GS BREN EAFE 07/05/12 10% Buffer 2 XLEV', 'GS BREN EAFE 06/06/12 10% Buffer 2 XLEV', 'DB BREN EEM 10/31/12 10% Buffer-2 XLEV 1', 'DB 95% PPN FX Basket 2/1/13', 'BARC BREN EAFE 08/01/12 10% Buffer 2 XLE', 'BARC 93% PPN BRIC Basket 9/19/13', 'DB PIMS 90% PPN', 'DB 95% PPN Fx Basket', 'BARC 93% PPN BRIC Basket', 'DC Rev NPR MaY13 4.0% aPR01 2037', 'DC Ser a DEC13 5.0% JUN01 2030', '382% Yohan-book', "Value of asset listed reflects filer's 2% share of", 'Park Center Partnership II - 7% owner of LBMC Bldg', 'Park Center Partnership I - 7% owner of Gambro Bld', 'Indiana PERF 100% Consolidated', 'Allianz Life 10% Bonus Powerdex', 'Metropolitian Water 4% 12', 'Virginia 5% Bond', 'Virginia ST 5% Bond', '50% 3/5 interest in 21.06 Acres Description: 13/4/', '50% 3/5 interest in 21.06 Acres', 'Thrift Savings Plan, 100% Interest', 'Asset Manager 20% Mutual Fund', 'Fidelity Asset Manager 20% Fund', 'Lot 6 DF, Buyer-Ramsyer, Note 55% Secu', '100% Treasury Money Market Fund', 'WFTXX - Wells Fargo Advantage 100% Trea (NASDAQ)', 'North Tex Twy Auth 05/5000% 09 01 41', 'GMAC Bank Midvalue 0525% 07/12/07', 'DB 95% PPN FX Bsk', 'BARC 93% PPN Currency Basket', 'BARC 93% Currency Basket', 'KFW 0% 5/6/08 Globalization Basket', '50% Interest 4 Acres/Rockwall, TX', '50% Interest 152 Acres/Hunt County, TX', '50% Interest 4 Acres 1500 Sunset Hill, TX', '50% Interest 152 Acre Heart County, TX - Farm', '50% Interest 4 Acres', '50% Interest 152 Acre Farm', 'Fidelity Edu IRA CA 100% Equity', 'CA 100% Equity Index', 'Promissory note, 100% Interest', 'Minnesota College Savings 100% Equity', 'Fidelity 529 100% Equity Portfol', '15% interest in Legal Press, LLC', '10% interest in Trott-ATA LLC', 'Victure LLC (Watercraft) (100% Interest)', 'Canaan LLC - 20% partnership in 526 acre timberlan', 'Equipment, 100% Interest', 'JPM Plus Tropix Index 0% 05 Oct 2016', 'Lapfell 16% Interest', 'RAWA Leasing Equipment Rental 100% Ownership', 'Granite Dome, 1% Interest', 'Commercial Building - 20% Interest', 'TIAA-CREF College Savings 100% Equity Fd', '50% of 78 Acres of land in Jeff Davis, MS', '10% Wealth Management LLC', '60 Month 5% ints note', '60 Month 5% Note', 'Roper Ind 2.05% Due 10/01/18', 'Univ ID 5.25% Educ Pub Bond', 'Hancey Mill Road Farm LLC, 25% Interest', '20% of the outstanding units of Foundtainhead Part', 'Dynamic Drinkware LLC (4% interest) Cup', 'Rental Property (50% ownership - TRT Holdings LLC)', 'Black Rock 100% Equity S unit', 'Black Rock 100% Equity C unit', 'Wells Fargo CPI+ 1% Note', 'Wells Fargo CPI + 1% CD Note', 'Entergy AR pfd 432% NAB', 'Valic 403(b) account, 100% in Money Mark', 'FCB/NC Cap Trust Ii 8.4% Pfd Secs Due 10', 'Hirel 5% Reg D Cvt Debs 9/2/97', 'NYS College 529 - Vanguard 75% Total Bon', 'Vanguard 75% Total Bond', 'NY  529 Vanguard 75% Total Bond', 'Kayne Anderson MLP Invst 4.6% coupon 4.60 Mature 1', 'Wells Fargo 8% Non-Cum Ser J', '3.75% Deutsche Bank 1997-2007', '3.125% Italien 1999-2010', '3.125% Bayerische Landesbank 1999-2009', '2% Compagnie de Financement Foncier 2009', '3.875% Schweden 2002-2009 Emtn', '2.25% Grossbritannien 2003-2008 Nts Reg', '5.25% Weltbank 1999-2009 Emtn', '5% BNG 2002-2007 Emtn', '3.25% Reseau Ferre de France 1998-2008', '2.5% Nederlandse Waterschapsbk 2007 Emtn', '3.25% Oesterreich 1998-2006', 'State of Washington General Cr 5.5% 7/1/', '3.875% Schweden 1999-2009 Emtn', '1.75% Depfa 2003-2008 Pfandbr.emtn', '4% Oesterreich 2005-2012 Nts', 'JPMorgan 100% US Treasury Securities Mon', 'Utah Educ Savings Plan Equity - 10 % Intl']

In [30]:
congDF[congDF['orgname'].isin(matches)].head()

,cid,personName,year,orgid,orgname,industry,asset_type,min,max,hidemax,type,lobbies,contributes,folderOfOrigin
3838,N00026710,Marchant-Kenny,2011,NaN,Ken-Ran Development 50% Interest Land,Unknown,NaN,50001,100000,0,Y,NaN,NaN,cong111
5479,N00006263,Simpson-Mike,2011,NaN,European Investment Bank Mtn 8.50000% 11,Unknown,NaN,28763,28763,0,Y,NaN,NaN,cong111
6611,N00012508,Carper-Tom,2012,NaN,Citigroup Funding 3% based on Gold,Unknown,Mutual Fund,15001,50000,0,Y,NaN,NaN,cong111
6738,N00012508,Carper-Tom,2011,NaN,Citigroup Funding 3% based on Gold,Unknown,Mutual Fund,15001,50000,0,Y,NaN,NaN,cong111
7498,N00012508,Carper-Tom,2010,NaN,Citigroup Funding 3% based on Gold,Unknown,Mutual Fund,50001,100000,0,Y,NaN,NaN,cong111

In [31]:
perList_sep = [s.split('% ') for s in matches]#map(lambda s: s.split('% ')[1], congDF['orgname'].values)

- It is important to note here that the '% 'tokenizer is quite confusing since the strings being tokenized are not     consistent. Some have comapny/property name after the tokenizer and some before.
- Therefore, the approach should be able to take all possible tokens (theoretically only two at max.) and check         matches

In [32]:
print(perList_sep[10]) 
# print(perList_sep[1])

['DB 100', 'PPN-ABS RTN BAR S&P 500']

In [33]:
perList_sep = []
for s in matches:
    temp = s.split('% ')
    perList_sep.append(temp[0]+temp[1])
#     if len(temp[0])>len(temp[1]) and len(temp[0].split(' '))>len(temp[1].split(' ')):
#         perList_sep.append(temp[0])
#     else:
#         perList_sep.append(temp[1])

In [34]:
matches.index('10% interest in Trott-ATA LLC')

121

In [35]:
print(perList_sep[16])

25interest in ZLDR partnership owning 95 acres +

##### Double string matching function for getting a very close match

In [36]:
print(process.extract(searchSTR, firmOrgsLC, limit=5))
print(fuzz.partial_ratio('CACI International', 'CACI International Inc'))

[('Alltel New York Inc', 86), ('Invesco Bond Fund', 86), ('VanEck Vectors Emerging Markets High Yield Bond ETF', 86), ('Gallery of History Inc', 86), ('New American Shoe Co', 86)]
100

In [37]:
def strMatch(searchVal, indexList, l1_thresh=85, l2_thresh=90, _size=5):
    matches = []
    baseList = process.extract(searchVal, indexList, limit=_size)
#     print('BASE_LIST: ',baseList)
    for _str, conf in baseList:
        if float(conf)>l1_thresh:
            match = fuzz.partial_ratio(searchVal, _str)
            if float(match)>l2_thresh:
                matches.append((_str, match))
    return baseList, matches

In [ ]:
searchSTR = 'JPMorgan 100US Treasury Securities Mon' # 'CACI International'
print(searchSTR,'\n\n')

BL, Matches = strMatch(searchSTR, firmOrgsLC)
print(BL)
print('\n')
print(Matches)
print('\n')
print('Highest Match:', Matches[0])

In [ ]:
print(fuzz.token_sort_ratio('JPMorgan 100', 'JPMorgan Chase & Co'))

In [ ]:
orgClean = []
tempDF = congDF[congDF['orgname'].isin(matches)]
for index, row in tempDF.iterrows():
    temp = row['orgname'].split('% ')
    orgClean.append(temp[0]+temp[1])
tempDF['orgClean'] = orgClean

In [ ]:
# matchIDX = []
# blIDX = []
# for index, row in congDF.iterrows():
#     BL, Matches = strMatch(row['orgname'], firmOrgsLC)
#     if Matches:
#         matchIDX.append(Matches[0])
#         blIDX.append(BL)
#     else:
#         matchIDX.append(np.nan)
#         blIDX.append(BL)

In [ ]:
# congDF['orgMatch'] = matchIDX
# congDF['orgBestOptions'] = blIDX

# tempDF.head(10)

In [ ]:
congDF.tail()

In [ ]:
congDF.to_csv('consolidatedMatched.csv')

### creating unique matches to reduce compute time

In [ ]:
total_congOrgs = len(congOrgs)
i=0
match_dict = {}
baseList_dict = {}
for congFirm in congOrgs:
    BL, Matches = strMatch(congFirm, firmOrgsLC)
    
    baseList_dict[congFirm] = BL
    if Matches:
        match_dict[congFirm] = Matches[0]
        
    else:
        match_dict[congFirm] = np.nan
    
    #counter
    i+=1
    print((float(i)/total_congOrgs)*100)

In [45]:
print(len(match_dict))
print(len(baseList_dict))

70512
70512

In [46]:
set(match_dict.keys()) == set(baseList_dict.keys())

True

In [67]:
matchedDF = pd.DataFrame(match_dict.items(), columns=['congOrgs', 'match'])
baseListDF = pd.DataFrame(baseList_dict.items(), columns=['congOrgs', 'baseList'])

In [68]:
matchedDF.head()

                                     congOrgs                        match
0                         JPMorgan Chase & Co   (JPMorgan Chase & Co, 100)
1                                   HSBC Bank                          NaN
2  Congressional Federal Credit Union Account                          NaN
3                                  Chase Bank  (Chevy Chase Bank FSB, 100)
4                           Citibank Accounts                          NaN

In [69]:
baseListDF.head()

,congOrgs,baseList
0,JPMorgan Chase & Co,"[(JPMorgan Chase & Co, 100), (Acushnet Co, 86)..."
1,HSBC Bank,"[(American Bank Note Co, 86), (Bank of Hawaii ..."
2,Congressional Federal Credit Union Account,"[(Aetna Business Credit Inc, 86), (Allis-Chalm..."
3,Chase Bank,"[(Chevy Chase Bank FSB, 90), (American Bank No..."
4,Citibank Accounts,"[(CityBank, 79), (Citation Cos, 62), (Key Co, ..."

In [70]:
matchedDF.to_csv('matchedDF.csv')
baseListDF.to_csv('baseListDF.csv')

#### Weird company names

In [73]:
print('unique companies: ', len(congOrgs))

unique companies:  70512

In [74]:
pattern = re.compile('\+?%\s')  #testing  regex (https://www.regextester.com/94730)
matches = [x for x in congOrgs if pattern.findall(x)]

print('companies with "% " sub-string: ', len(matches))

companies with "% " sub-string:  171

In [75]:
pattern = re.compile('^[0-9]')  #testing  regex (https://www.regextester.com/94730)
matches = [x for x in congOrgs if pattern.findall(x)]

print('unique companies starting with number: ', len(matches))

unique companies starting with number:  2203