In [ ]:
import numpy as np
import pandas as pd

In [ ]:
congFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/consolidated_end115.csv'
firmFile = '/home/hassaan/Data/TUM/2nd Year/4th Semester/IDP/Project/data/intermediate/comp_firms.csv'

In [4]:
congDF = pd.read_csv(congFile)
congDF = congDF.drop(['Unnamed: 0'], axis=1)
congDF.head()

,cid,personName,year,orgid,orgname,industry,asset_type,min,max,hidemax,type,lobbies,contributes,folderOfOrigin
0,N00007665,Abercrombie-Neil,2004,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,15001,50000,0,Y,NaN,NaN,cong105
1,N00007665,Abercrombie-Neil,2005,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
2,N00007665,Abercrombie-Neil,2006,NaN,University of Hawaii Credit Union A/C,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
3,N00007665,Abercrombie-Neil,2007,NaN,University of Hawaii Credit Union,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105
4,N00007665,Abercrombie-Neil,2008,NaN,University of Hawaii Credit Union,Unknown,Cash/Money Market/Savings/Checking,1001,15000,0,Y,NaN,NaN,cong105

In [5]:
firmDF = pd.read_csv(firmFile)
firmDF.head()

   gvkey                     conm                    conml state
0   1000    A & E PLASTIK PAK INC    A & E Plastik Pak Inc   NaN
1   1001  A & M FOOD SERVICES INC  A & M Food Services Inc    OK
2   1002                 AAI CORP                 AAI Corp    MD
3   1003    A.A. IMPORTING CO INC    A.A. Importing Co Inc    MO
4   1004                 AAR CORP                 AAR Corp    IL

In [14]:
print(len(firmDF['gvkey'].unique()))
print(len(firmDF['conm'].unique()))
print(firmDF['conm'].describe())
print(len(firmDF))
firmDF.describe()
firmDF.

32813
32810
count           32813
unique          32810
top       LUMENIS LTD
freq                2
Name: conm, dtype: object
32813

               gvkey
count   32813.000000
mean    58914.747783
std     66792.343541
min      1000.000000
25%      9787.000000
50%     23959.000000
75%    115960.000000
max    319507.000000

In [15]:
firmDF[firmDF['conm']=='LUMENIS LTD']

       gvkey         conm        conml state
14777  19845  LUMENIS LTD  Lumenis Ltd   NaN
21697  62471  LUMENIS LTD  Lumenis Ltd   NaN

In [8]:
print(congDF['cid'].unique())
print(len(congDF['cid'].unique()))
print(len(congDF['folderOfOrigin'].unique()))

['N00007665' 'N00001143' 'N00003028' ... 'N00035616' 'N00030418'
 'N00035535']
1008
11

In [10]:
print(congDF['personName'].describe())

count         243885
unique          1008
top       Kerry-John
freq            4873
Name: personName, dtype: object

In [11]:
congDF.describe()

                year           min           max        hidemax
count  243885.000000  2.438850e+05  2.438850e+05  243885.000000
mean     2009.695611  1.305715e+05  3.473555e+05       0.010562
std         3.363060  1.981086e+06  2.820360e+06       0.102229
min      2004.000000 -3.547540e+05 -3.547540e+05       0.000000
25%      2007.000000  1.001000e+03  1.500000e+04       0.000000
50%      2010.000000  1.500100e+04  3.622500e+04       0.000000
75%      2013.000000  5.000100e+04  1.000000e+05       0.000000
max      2015.000000  3.120000e+08  3.120000e+08       1.000000

### Testing string matches

#### OBSERVATIONS:
- Do the process.extract() & then run a fuzzy match

In [32]:
congOrgs = congDF['orgname'].unique()
firmOrgs = firmDF['conm'].unique()
firmOrgsLC = firmDF['conml'].unique()

In [33]:
print('unique cong orgs:', len(congOrgs))
print('unique firm orgs:', len(firmOrgs))
print('unique firm orgs lower case:', len(firmOrgsLC))

unique cong orgs: 69982
unique firm orgs: 32810
unique firm orgs lower case: 32682

In [17]:
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from fuzzywuzzy import utils
from fuzzywuzzy.string_processing import StringProcessor

In [68]:
searchSTR = congOrgs[2555]
print(searchSTR)
print('\n')
print(process.extract(searchSTR, firmOrgs, limit=10))
print('\n')
print(process.extract(searchSTR, firmOrgsLC, limit=10))

Northwest Natural Gas


[('NORTHWEST NATURAL GAS CO', 95), ('BAY STATE GAS', 86), ('BOSTON GAS CO', 86), ('CONSUMERS GAS', 86), ('TXU GAS CO', 86), ('FLORIDA GAS', 86), ('GAS SERVICE CO', 86), ('GLOBAL GAS CO', 86), ('QUESTAR GAS CO', 86), ('UNION GAS LTD', 86)]


[('Northwest Natural Gas Co', 95), ('Alliance Northwest Industries Inc', 86), ('Apco Oil and Gas International Inc', 86), ('Bay State Gas', 86), ('Boston Gas Co', 86), ('Commonwealth Natural Resources Inc', 86), ('Corning Natural Gas Holding Corp', 86), ('TXU Gas Co', 86), ('Federated Natural Resources Liquid Trust', 86), ('Fitchburg Gas & Electric Light Co', 86)]

In [69]:
orgMatch, per = process.extractOne(searchSTR, firmOrgs)
orgMatchLC, per = process.extractOne(searchSTR, firmOrgsLC)
print(searchSTR, orgMatch ,fuzz.ratio(searchSTR, orgMatch))
print(searchSTR, orgMatchLC ,fuzz.ratio(searchSTR, orgMatchLC))

Northwest Natural Gas NORTHWEST NATURAL GAS CO 22
Northwest Natural Gas Northwest Natural Gas Co 93

In [31]:
firmDF[firmDF['conm']=='ABVIVA INC']

        gvkey        conm       conml state
24594  115747  ABVIVA INC  Abviva Inc    CA

In [70]:
fuzz.partial_ratio('Citibank Cash Reserves Account 27', 'CityBank')

75

In [74]:
def levenshteinDistance(s1, s2):
    if len(s1) > len(s2):
        s1, s2 = s2, s1

    distances = range(len(s1) + 1)
    for i2, c2 in enumerate(s2):
        distances_ = [i2+1]
        for i1, c1 in enumerate(s1):
            if c1 == c2:
                distances_.append(distances[i1])
            else:
                distances_.append(1 + min((distances[i1], distances[i1 + 1], distances_[-1])))
        distances = distances_
    return distances[-1]

def levRatio(s1, s2):
    l = levenshteinDistance(s1, s2)
    m = max(len(s1), len(s2))
    return (1 - (float(l)/float(m))) * 100

In [77]:
print(levRatio(searchSTR, orgMatch))

print(levRatio(searchSTR, orgMatchLC))

20.833333333333336
87.5

In [78]:
print(fuzz.ratio(searchSTR, orgMatch))
print(fuzz.ratio(searchSTR, orgMatchLC))

22
93

### Fuzzy Wuzzy explanations
- fuzz.ratio() -> edit distance simply (levenshtein)
- fuzz.partial_ratio() -> checks for search str to be substr 
- fuzz.token_sort_ratio() -> alphabetically sort both string tokens and then match ratio
- fuzz.token_set_ratio() -> make set(intersect) from both strings and create combinations with both & match ratio